@import "tailwindcss";

:root {
  --background: #DDDBE1;
  --foreground: #07090C;
  --color-stubbornWhite: 221, 219, 225;
  --color-White: 255, 255, 255;
  --color-stubbornBlack: 7, 9, 12;
  --color-Black: 0, 0, 0;
  --color-stubbornBlue: 77, 91, 252;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #07090C;
    --foreground: #DDDBE1;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

h1 {
  font-size: clamp(2.8rem, 3.5vw, 4rem);
  font-family: var(--font-spaceGrotesk);
}

h2 {
  font-size: clamp(2.4rem, 3vw, 3.5rem);
  font-family: var(--font-spaceGrotesk);
}

h3 {
  font-size: clamp(1.6rem, 1.5vw, 2.4rem);
  font-family: var(--font-spaceGrotesk);
}

h5 {
  font-size: clamp(1.4rem, 1.4vw, 2rem);
  font-family: var(--font-spaceGrotesk);
}

p {
  font-size: 1rem;
  line-height: 160%;
}