.HeroSection {
    width: 100%;
    padding: 5rem 0 30rem 0;
    overflow: hidden;
}

.HeroSectionWrapper {
    width: 90%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3rem;
    max-width: 1600px;
    text-align: center;
}

.HeroSectionContainer {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 3rem;
    justify-content: center;
}

.HeroSectionImageContainer {
    justify-content: flex-start;
    width: 100%;
    margin-top: 5rem;
}

.HeroSectionImageContainer img {
    width: 100%;
    height: auto;
    object-fit: cover;
    border-radius: 1rem;
}

.buttonsFlex {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    margin: 0 auto;
    align-items: center;
}

@media (min-width: 1200px) {
    .HeroSectionWrapper {
        width: 75%;
    }

    .HeroSectionImageContainer {
        width: 75%;
    }
}