.HeroSection {
    width: 100%;
    padding: 5rem 0;
}

.HeroSectionWrapper {
    width: 80%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3rem;
    max-width: 1600px;
    text-align: center;
}

.HeroSectionContainer {
    display: flex;
    flex-direction: column;
    width: 80%;
    gap: 3rem;
}

.HeroSectionContainer img {
    width: 100%;
    fill: cover;
    border-radius: 1rem;
}

.buttonsFlex {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    margin: 0 auto;
    align-items: center;
}

@media (min-width: 1200px) {
    .HeroSectionWrapper {
        width: 75%;
    }
}