/* ========================================= */
/* Estilos para a seção Manifesto            */
/* ========================================= */

.ManifestoSection {
    width: 100%;
    background-color: rgba(var(--color-stubbornWhite), 1);
    padding: 10rem 0;
}

.ManifestoWrapper {
    width: 90%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 5rem;
}

.ManifestoContent {
    display: flex;
    flex-direction: column;
    padding: 10rem 0;
}

.ManifestoContentSpan {
    color: rgba(var(--color-stubbornBlack), 0.3);
    font-weight: 400;
    font-size: 2rem;
    line-height: 1.4;
    width: 100%;
    text-align: left;
}

.CraftingMotto p {
    font-family: var(--font-spaceGrotesk);
    color: rgba(var(--color-stubbornBlack), 1);
    font-size: 1.25rem;
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    position: relative;
}

.CraftingMottoLine {
    content: '';
    background-color: rgba(var(--color-stubbornBlue), 1);
    height: 2.5px;
    width: 2rem;
    margin: 0 1rem;
    display: flex;
}

.ManifestoLogo {
    filter: brightness(0);
    margin: 0 auto;
}

@media (min-width:1200px) {
    .ManifestoWrapper {
        width: 40%;
    }

    .CraftingMotto p {
        font-size: 1.5rem;
    }

    .ManifestoContentSpan {
        font-size: 2.2rem;
        line-height: 1.3;
    }
}