.navBar {
    width: 100%;
    position: sticky;
    top: 0;
    padding: 1rem 0;
    z-index: 9999;
}

.navBarWrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    gap: 3rem;
    margin: 0 auto;
    max-width: 1600px;
    padding: 1rem 1rem 1rem 1rem;
    background-color: rgba(var(--color-stubbornBlack), 0.75);
    border: 1px solid rgba(var(--color-stubbornWhite), 0.1);
    border-radius: 1rem;
    backdrop-filter: blur(1rem);
    -webkit-backdrop-filter: blur(1rem);
}

.navBarItems {
    display: none;
}

.navBarItems ul {
    display: flex;
    flex-direction: row;
}

@media (min-width: 1200px) {

    .navBarWrapper {
        width: 60%;
    }

    .navBarItems {
        display: block;
    }

}